body {
    font-family: 'IBM Plex Sans', sans-serif;
}
ul {
    list-style: none;  
    padding: 0;        
    margin: 0;        
}

li {
    margin: 0;     
    padding: 0;
}
p{
    margin: 0;
}
h1, h2, h3{
    margin: 0;
}
button{
    cursor: pointer;
}
a {
    text-decoration: none;  
    color: inherit;         
    outline: none;          
}
.container{
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
}
@media (min-width: 1439px) {
    .container{
        min-width: 1439px;
    }
}